[user]
	name = Ismail Fahmy
	email = ismail.fahmy@omc.com
[user "https://github.com"]
	name = Ismail Fahmy
	email = ismailmn05@gmail.com
[credential "https://github.com"]
	helper = !gh auth git-credential
[status]
	showUntrackedFiles = no
[sendpack]
	sideband = false
[http]
	postBuffer = 524288000
[rerere]
	enabled = true
